.introducao {
  max-width: 1200px;
  height: 470px;
  padding: 140px 20px;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.introducao::before {
  content: "";
  display: block;
  background: url("../img/sep-intro-left.svg") no-repeat left top;
  position: absolute;
  width: 70px;
  height: 70px;
  top: 140px;
  left: 20px;
}

.introducao::after {
  content: "";
  display: block;
  background: url("../img/sep-intro-right.svg") no-repeat right bottom;
  position: absolute;
  width: 70px;
  height: 70px;
  bottom: 140px;
  right: 20px;
}

.introducao-content h1 {
  font-size: 8rem;
}

.introducao-thin {
  color: #525252;
  font-weight: 100;
}

.introducao-content p {
  text-align: center;
  position: relative;
  font-size: 3rem;
  margin-top: 57px;
  font-weight: 600;
  color: #525252;
}

.introducao-content p::before {
  position: absolute;
  background-color: #3deb5a;
  content: "";
  width: 100px;
  height: 5px;
  top: 55px;
  left: 0px;
}

.introducao-content p::after {
  position: absolute;
  background-color: #3deb5a;
  content: "";
  width: 100px;
  height: 5px;
  top: 55px;
  right: 0px;
}

@media (max-width: 1000px) {
  .introducao-content h1 {
    font-size: 7rem;
  }

  .introducao-content p {
    font-size: 2.5rem;
    margin-top: 47px;
  }

  .introducao-content p::before {
    width: 90px;
    height: 4px;
    top: 50px;
  }

  .introducao-content p::after {
    width: 90px;
    height: 4px;
    top: 50px;
  }
}

@media (max-width: 800px) {
  .introducao {
    padding: 60px 20px;
    height: 434px;
  }

  .introducao::before {
    width: 60px;
    height: 60px;
    top: 60px;
  }

  .introducao::after {
    width: 60px;
    height: 60px;
    bottom: 60px;
  }

  .introducao-content h1 {
    font-size: 6rem;
  }

  .introducao-content p {
    font-size: 2rem;
    margin-top: 40px;
  }

  .introducao-content p::before {
    height: 4px;
    top: 40px;
  }

  .introducao-content p::after {
    height: 4px;
    top: 40px;
  }
}

@media (max-width: 700px) {
  .introducao {
    padding: 40px 20px;
    margin: 40px auto;
    height: 340px;
  }

  .introducao::before {
    width: 50px;
    height: 50px;
    top: 40px;
  }

  .introducao::after {
    width: 50px;
    height: 50px;
    bottom: 40px;
  }

  .introducao-content h1 {
    font-size: 5rem;
  }

  .introducao-content p {
    font-size: 1.5rem;
    margin-top: 30px;
  }

  .introducao-content p::before {
    width: 85px;
    height: 3px;
    top: 30px;
  }

  .introducao-content p::after {
    width: 85px;
    height: 3px;
    top: 30px;
  }
}

@media (max-width: 500px) {
  .introducao {
    padding: 30px 20px;
    margin: 20px auto;
    height: 270px;
  }

  .introducao::before {
    width: 40px;
    height: 40px;
    top: 30px;
  }

  .introducao::after {
    width: 40px;
    height: 40px;
    bottom: 30px;
  }

  .introducao-content h1 {
    font-size: 4rem;
  }

  .introducao-content p {
    font-size: 1.3rem;
    margin-top: 20px;
  }

  .introducao-content p::before {
    width: 60px;
    height: 3px;
    top: 25px;
  }

  .introducao-content p::after {
    width: 60px;
    height: 3px;
    top: 25px;
  }
}

@media (max-width: 400px) {
  .introducao {
    padding: 30px 20px;
    height: 200px;
  }

  .introducao::before {
    width: 30px;
    height: 30px;
    top: 30px;
  }

  .introducao::after {
    width: 30px;
    height: 30px;
    bottom: 30px;
  }

  .introducao-content h1 {
    font-size: 3rem;
  }

  .introducao-content p {
    font-size: 1rem;
    margin-top: 15px;
  }

  .introducao-content p::before {
    width: 40px;
    height: 3px;
    top: 20px;
  }

  .introducao-content p::after {
    width: 40px;
    height: 3px;
    top: 20px;
  }
}
